.images{
		display:flex;
		position:absolute;
		left:15px;
		top:0;
	   }
button{
		height:70px;
		width:70px;
		margin-bottom:15px;
		transition:all .40s ease-in-out;
		background-color:#778899;
		opacity:.95;
		color:white;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none;
		margin-left:-23px
	   }
button:hover{
			 color:#FF6347;
		     box-shadow:0px 0px 20px #F4A460;
		 	 text-shadow:10px 5px 4px white
			}
