div{display:flex;margin-left:-8px}
button{height:70px;width:70px;margin-left:-30px;margin-bottom:30px}
#splash{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:15px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none;
		}
#splash:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}

#splashSword{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:10px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none
		}
#splashSword:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}
#splashGhost{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:10px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none
		}
#splashGhost:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}
#splashFreedom{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:10px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none
		}
#splashFreedom:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}
#splashSaber{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:10px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none
		}
#splashSaber:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}
#splashRobote{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:10px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none
		}
#splashRobote:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}
#splashDeath{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:10px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none
		}
#splashDeath:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}
#splashNier{	
		background-color:#778899;
		opacity:0.8;
		color:white;
		padding:10px;
		font-size:15px;
		border-radius:100px;
		border:2px solid gray;
		transition:.55s;
		transition:all is ease-in-out;
		box-shadow:0 0 20px #ff005b;
		cursor:pointer;
		outline:none;
		}
#splashNier:hover{
			color:#FF6347;
			box-shadow:0px 0px 20px #F4A460;
			text-shadow:10px 5px 4px white
			}